#btn_personal{
	-fx-background-color: #0174CF;
}

#btn_pacienti{
	-fx-background-color: #0174CF;
}

#btn_camere{
	-fx-background-color: #0174CF;
}

#btn_inventar{
	-fx-background-color: #0174CF;
}

#pane1{
	-fx-background-color: white;
}

#pane2{
	-fx-background-color: white;
}